*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenu{
    margin: auto;
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.carre{
    background-color: rgb(136, 174, 136);
    color: rgb(255, 255, 255);
    margin: 10px;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.carre.base{
    animation-name: retour;
    animation-duration: 2s;
}

.carre.tourne{
    background-color: rgb(165, 42, 42);
    color: rgb(255, 255, 255);
    margin: 10px;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: scale(0.9);
    animation-name: tourner;
    animation-duration: 2s;
}

@keyframes tourner{
    from{
        background-color: rgb(136, 174, 136);
        transform: scale(1);
    }
    to{
        background-color: rgb(165, 42, 42);
        transform: scale(0.9) rotate(360deg);
    }
}

@keyframes retour{
    from{
        background-color: rgb(165, 42, 42);
        transform: scale(0.9);
    }
    to{
        background-color: rgb(136, 174, 136);
        transform: scale(1) rotate(-360deg);
    }
}